project_details.txt
test.py
logos/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



venv/
.env

frontend/src/pages/user/SideNav.tsx
frontend/env
frontend/src/pages/user/UserProfile.tsx
frontend/src/pages/user/MenuModal.tsx
frontend/src/pages/user/UserPhoneHeader.tsx