@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
    box-sizing:border-box;
}
@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

.bg-red-600:hover > .hover-show-div {
    display: flex;
    justify-content: center;
    align-items:center;
   
    
  }

  .bg-blue-500:hover > .hover-show-div {
    display: flex;
    justify-content: center;
    align-items:center;
   
    
  }


  /* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}